.DS_Store
*.jpg
*.glb
*.hdr
*.mp3
*.wav
beyond-manzanar-2026-07-31-6wErk78Y/js/
beyond-manzanar-2026-07-31-6wErk78Y/fonts/
beyond-manzanar-2026-07-31-6wErk78Y/styles/
beyond-manzanar-2026-07-31-6wErk78Y/artworks/
